.right{
    list-style-type: none;
    padding: 2vh;
    overflow: hidden;
    background-color: rgba(213, 220, 227, 0.687);
    color: black;
    font-family: 'Coustard', serif;
}

.page-footer{
    position:absolute;
    width: 100vw;
    background-color: rgba(213, 220, 227, 0.687);
    margin: 0;
    text-align: center;
}

.home {
    margin-top: 5vh;
    color: black;
    font-family: 'Coustard', serif;
}

 .nav-link{
    display: flex;

    text-align: center;
    padding: 14px 16px;
} 

.card-title{
    color: black;
    font-size: 3vh;
    font-family: 'Coustard', serif;
}

.card-title-link{
    text-decoration: none;
}

.publication-name{
    color: black;
    font-family: 'Coustard', serif;
}

.nav-item{
    text-align: center;
    padding: 14px 16px;

    padding-left: 0;
    /* margin: auto; */
}

.link-info{
    color: black;
    font-family: 'Coustard', serif;
    text-decoration: none;
    font-size: 3.5vh;
}


.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100vw; 
    margin:auto;
    background-color: rgba(213, 220, 227, 0.687);
  }

.body{
    background-color: rgba(213, 220, 227, 0.687);
    text-align: center;
    margin: auto;
    width: 100vw;
}

.homeDiv{
    width: 30vw;
    margin-bottom: 4vh;
}

.article-image{
    max-width: 40vw;
    max-height: 30vh;
}

.card-title:hover{
    text-decoration: underline;
}

.article-div{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5vh;
}

.article-body{
    margin-top: 3px;
    margin-bottom: 3px;
    color: black;
    font-family: 'Coustard', serif;
}

.page-image{
    float: left;
    max-height: 25vw;
    padding: 1vw;
    margin-left: 15vw;
}

.article-guts{
    text-align: justify;
    margin-right: 15vw;
    margin-left: 15vw;
}

.page-article.div{
    width: 80vw;
}